<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Salary Page</title>
</head>
<body>
    <h1>This is the teacher's salary page</h1>
    <h2 th:text="${'Tanggal: ' + simulationDate}"></h2>
    <a th:href="@{'/findSalary/add-daily?nrg=' + ${teacherNrg}}">
        <button>Add a day</button>
    </a>
    <a th:href="@{'/findSalary/add-weekly?nrg=' + ${teacherNrg}}">
        <button>Add a week</button>
    </a>
    <a th:href="@{'/findSalary/add-monthly?nrg=' + ${teacherNrg}}">
        <button>Add a monthly</button>
    </a>
    <h2 th:text="${'Gaji guru adalah ' + salary}"></h2>
</body>
</html>