<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Input Page</title>
    <style>
        #menu-list h2, #menu-list h3{
            margin: 0;
        }

        #menu-list div {
            border: 1px solid gray;
            box-shadow: 0 4px 4px rgba(0,0,0,0.4);
            padding: 1rem;
            border-radius: 0.5rem;
        }

        #menu-list td {
            padding-bottom: 0.6rem;
        }

        #menu-list h3 {
            font-weight: normal;
        }
    </style>
</head>
    <div class="py-3 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto p-4 col-md-7">
                    <h1 class="mb-4">Add Teacher</h1>
                    <p class="mb-4">Insert teacher data</p>
                    <form th:action="@{/timetable/newTeacher}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nrg" placeholder="Teacher nrg">
                            <input type="text" class="form-control" name="name" placeholder="Teacher name">
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-block">Add Teacher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto p-4 col-md-7">
                    <h1 class="mb-4">Add Class</h1>
                    <p class="mb-4">Insert class data</p>
                    <form th:action="@{/timetable/newClass}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Class name">
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-block">Add Teacher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto p-4 col-md-7">
                    <h1 class="mb-4">Add Session</h1>
                    <p class="mb-4">Insert session data</p>
                    <form th:action="@{/timetable/newSession}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="course" placeholder="Course name">
                            <input type="text" class="form-control" name="day" placeholder="Day">
                            <input type="text" class="form-control" name="startTime" placeholder="Start time">
                            <input type="text" class="form-control" name="endTime" placeholder="End time">
                            <select class="form-control" name="nrg">
                                <option value="" selected="" disabled="">Select teacher</option>
                                <div th:each="teacher:${availableTeacher}">
                                    <option th:value="${teacher.getNrg()}" th:text="${teacher.getName()}"></option>
                                </div>
                            </select>
                            <select class="form-control" name="name">
                                <option value="" selected="" disabled="">Select Class</option>
                                <div th:each="class:${availableClass}">
                                    <option th:value="${class.getName()}" th:text="${class.getName()}"></option>
                                </div>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-block">Add Teacher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>