<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulation</title>
</head>
<body>
    <div class="container">
        <h1>ini simulasi</h1>
    </div>

    <div class="row">
        <div class="header" th:each="class:${classes}">
            <h1 th:text="${'nama kelas: ' + class.getName()}"></h1>
            <p th:text="${'hari ini: ' + class.getCurrentDay()}"></p>
            <div class="content" th:each="teacher:${teachers}">
                <p th:text="${'gaji guru ' + teacher.getName() + ' adalah: ' + teacher.getTotalSalary()}"></p>
            </div>
            <form th:action="@{/simulation/next-day(className=${class.getName()}, currentDay=${class.getCurrentDay()})}" method="POST">
                <button type="submit">Next Day</button>
            </form>
        </div>
    </div>

</body>
</html>