<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Table</title>
    <style>
        table {
            width:100%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        #t01 tr:nth-child(even) {
            background-color: #eee;
        }
        #t01 tr:nth-child(odd) {
            background-color: #fff;
        }
        #t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
<figure>
    <figcaption></figcaption>
    <table>
        <h1 th:text="${'Timetable ' + className}"></h1>
        <tr>
            <th scope = "col">Jam</th>
            <th scope = "col">Senin</th>
            <th scope = "col">Selasa</th>
            <th scope = "col">Rabu</th>
            <th scope = "col">Kamis</th>
            <th scope = "col">Jumat</th>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
            <div th:each="currentSession:${classSessions}">
                <div th:if = "${currentSession.getDay().equals('Senin') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td>
                        <div>
                            <p th:text = "${'Course name: ' + currentSession.getCourse()}"></p>
                            <p th:text = "${'Teacher: ' + currentSession.getTeacher().getName()}"></p>
                        </div>
                    </td>
                </div>
                <div th:unless = "${currentSession.getDay().equals('Senin') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td></td>
                </div>
            </div>
            <div th:each="currentSession:${classSessions}">
                <div th:if = "${currentSession.getDay().equals('Selasa') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td>
                        <div>
                            <p th:text = "${'Course name: ' + currentSession.getCourse()}"></p>
                            <p th:text = "${'Teacher: ' + currentSession.getTeacher().getName()}"></p>
                        </div>
                    </td>
                </div>
                <div th:unless = "${currentSession.getDay().equals('Selasa') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td></td>
                </div>
            </div>
    
            <div th:each="currentSession:${classSessions}">
                <div th:if = "${currentSession.getDay().equals('Rabu') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td>
                        <div>
                            <p th:text = "${'Course name: ' + currentSession.getCourse()}"></p>
                            <p th:text = "${'Teacher: ' + currentSession.getTeacher().getName()}"></p>
                        </div>
                    </td>
                </div>
                <div th:unless = "${currentSession.getDay().equals('Rabu') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td></td>
                </div>
            </div>
    
            <div th:each="currentSession:${classSessions}">
                <div th:if = "${currentSession.getDay().equals('Kamis') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td>
                        <div>
                            <p th:text = "${'Course name: ' + currentSession.getCourse()}"></p>
                            <p th:text = "${'Teacher: ' + currentSession.getTeacher().getName()}"></p>
                        </div>
                    </td>
                </div>
                <div th:unless = "${currentSession.getDay().equals('Kamis') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td></td>
                </div>
            </div>
    
            <div th:each="currentSession:${classSessions}">
                <div th:if = "${currentSession.getDay().equals('Jumat') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td>
                        <div>
                            <p th:text = "${'Course name: ' + currentSession.getCourse()}"></p>
                            <p th:text = "${'Teacher: ' + currentSession.getTeacher().getName()}"></p>
                        </div>
                    </td>
                </div>
                <div th:unless = "${currentSession.getDay().equals('Jumat') && (currentSession.getStartTime().toString().equals('08:00') || currentSession.getEndTime().toString().equals('09:00'))}">
                    <td></td>
                </div>
            </div>
        </tr>
        <tr>
            <td>09:00 - 10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13:00 - 14:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14:00 - 15:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</figure>
</body>
</html>